<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.workstudy.ssm.dao.AwardDao">

    <resultMap id="AwardBaseMap" type="com.workstudy.ssm.model.Award">
        <id column="studentId" property="studentId" jdbcType="VARCHAR"/>
        <id column="awardName" property="awardName" jdbcType="VARCHAR"/>
        <id column="awardNumber" property="awardNumber" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getTable" resultMap="AwardBaseMap">
        SELECT *
        FROM award
        WHERE studentId = #{award.studentId} AND awardName = #{award.awardName} AND awardNumber = #{award.awardNumber}
    </select>

    <select id="getAwardsByStId" resultMap="AwardBaseMap">
        SELECT *
        FROM award
        WHERE studentId = #{studentId}
    </select>

    <insert id="createTable" parameterType="com.workstudy.ssm.model.Award">
        INSERT INTO award
        VALUES (#{award.studentId},#{award.awardName},#{award.awardNumber})
    </insert>

    <delete id="deleteAwardByStId">
        DELETE FROM award
        WHERE studentId = #{studentId}
    </delete>

</mapper>