<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.workstudy.ssm.dao.ScholarshipDao">

    <resultMap id="ScholarshipBaseMap" type="com.workstudy.ssm.model.Scholarship">
        <id column="studentId" property="studentId" jdbcType="VARCHAR"/>
        <id column="tableYear" property="tableYear" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getTable" resultMap="ScholarshipBaseMap">
        SELECT *
        FROM scholarship
        WHERE studentId = #{scholarship.studentId} AND tableYear = #{scholarship.tableYear}
    </select>

    <select id="getAllTables" resultMap="ScholarshipBaseMap">
        SELECT *
        FROM scholarship
    </select>

    <select id="getTablesByYear" resultMap="ScholarshipBaseMap">
        SELECT *
        FROM scholarship
        WHERE tableYear = #{createdYear}
    </select>

    <select id="getTableByStId" resultMap="ScholarshipBaseMap">
        SELECT *
        FROM scholarship
        WHERE studentId = #{studentId}
    </select>

    <insert id="createTable" parameterType="com.workstudy.ssm.model.Scholarship">
        INSERT INTO scholarship
        VALUES (#{scholarship.studentId},#{scholarship.tableYear},#{scholarship.sex},#{scholarship.birthYear},
        #{scholarship.birthMonth},#{scholarship.politicalStatus},#{scholarship.nation},#{scholarship.startYear},
        #{scholarship.startMonth},#{scholarship.studyYears},#{scholarship.phone},#{scholarship.identityCardId},#{scholarship.grade},
        #{scholarship.courseNum},#{scholarship.passNum},#{scholarship.rank},#{scholarship.reason},
        #{scholarship.teacherResult},#{scholarship.adminResult})
    </insert>

    <delete id="deleteTable" parameterType="com.workstudy.ssm.model.Scholarship">
        DELETE FROM scholarship
        WHERE studentId = #{scholarship.studentId} AND tableYear = #{scholarship.tableYear}
    </delete>

    <delete id="deleteTableByInfo" parameterType="com.workstudy.ssm.model.Scholarship">
        DELETE FROM scholarship
        WHERE studentId = #{studentId} AND tableYear = #{tableYear}
    </delete>

    <update id="changeTable">
        UPDATE scholarship
        SET teacherResult = #{result}
        WHERE studentId = #{studentId} AND tableYear = #{tableYear}
    </update>

    <update id="changeAdminRes">
        UPDATE scholarship
        SET adminResult = #{result}
        WHERE studentId = #{studentId} AND tableYear = #{tableYear}
    </update>

</mapper>